.headerContainer {
    position: relative;
    min-height: 100vh;
    background-color: rgb(229, 220, 255);
    padding: 20px;
}

h1 {
    position: relative;
    font-size: 2.5rem; 
    color: rgb(0, 0, 0);
    font-weight: lighter;
    margin-top: 50px; 
    margin-left: 20px;
}

.box2 {
    max-width: 600px;
    display: inline-block;
}

h2 {
    position: relative;
    font-size: 2.25rem; 
    color: black;
    font-weight: lighter;
    margin-top: 50px; 
    margin-left: 20px; 
}

.p1 {
    position: relative;
    font-size: 1.3rem;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 90px;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.p2{
    position: relative;
    font-size: 1.3rem;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 55px;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.headshot {
    position: relative;
    max-width: 32%;
    height: auto;
    border-radius: 20px;
    box-shadow: 6px 6px 1px rgb(0, 0, 0);
    margin-top: 30px;
    margin-right: 150px;
    float: right;
}

@media (max-width: 1200px) {
    h1,
    h2,
    .p1,
    .p2 {
        max-width: 100%; /* Remove the maximum width for smaller screens */
        margin-left: 10px;
    }
    
    h1 {
        font-size: 3rem;
        margin-top: 30px;
        max-width:800px;
    }
    
    h2 {
        font-size: 2.5rem;
        margin-top: 60px;
    }
    
    .p1 {
        font-size: 1.75rem;
        margin-right: 10px;
        margin-top: 20px;
    }
    .p2{
        font-size: 1.75rem;
        margin-right: 10px;
        margin-top: 20px;
    }
    
    .headshot {
        max-width: 70%;
        float: none;
        margin-right: 0;
    }
}